<section style="min-height: 100vh; padding: 56px 2rem 0;">

  <h1 style="margin: 2rem 0 0">
    <% if I18n.locale == :en %>
      English
    <% else %>
      Spanish
    <% end %>
  </h1>

  <p>Find me in app/views/static_pages/index.html.erb</p>

</section>