<!-- Mobile -->
<div class="show-on-small hide-on-med-and-up">
  <%= render 'layouts/navbar/navbar_mobile' %>
</div>
<!-- ./Mobile -->

<!-- Tablet -->
<div class="show-on-medium hide-on-large-only hide-on-small-only">
  <%= render 'layouts/navbar/navbar_tablet' %>
</div>
<!-- ./Tablet -->

<!-- Desktop -->
<div class="show-on-large hide-on-med-and-down">
  <%= render 'layouts/navbar/navbar_desktop' %>
</div>
<!-- ./Desktop -->